@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Primary (Medical Blue) */
  --color-primary: #2CA3FA;
  --color-primary-dark: #034C81;

  /* Secondary (Healthcare Green) */
  --color-secondary: #04E474;
  --color-secondary-dark: #62BB07;

  /* Accent */
  --color-accent: #FF6B35;

  /* Base */
  --color-background: #FFFFFF;
  --color-text: #373737;
}

@theme {
  --background-image-primary-gradient: linear-gradient(to right, #2CA3FA, #5BA2F4);
}

body {
  font-family: 'inconsolata', sans-serif;
  overscroll-behavior-x: none;
}

@layer components {
  .form-input-premium {
    @apply w-full px-4 py-2.5 bg-slate-50 dark:bg-gray-900 border border-slate-200 dark:border-gray-700 rounded-xl outline-none focus:ring-2 focus:ring-emerald-500/50 focus:border-emerald-500 transition-all text-sm font-medium dark:text-gray-200;
  }
}

/* Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}