@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  overscroll-behavior-x: none;
}
/* Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: 'inconsolata', sans-serif;
}